@import url(https://pinkromeo18.github.io/maycry/maycry.css);
@import url(https://pinkromeo18.github.io/flyme/meme.css);

.two-way{
  display:flex;
  flex-wrap:nowrap;
}

#meme{
  min-width:600px;
  width:600px;
  max-width:600px;
}

#image{
  min-height:1px;  
  flex-grow:3;
  margin-right:1rem;
  display:flex;
  flex-wrap:wrap;
  align-content: flex-start;  
}
#image>figure{
  width:50%;
}
#image.has-fig-sticky figure{
  display:none;
}

.fig-sticky{
  display:block!important;
  width:100%!important;
  position:sticky!important;
  top:2rem!important;
  z-index:100!important;
}
#image .fig-sticky img{
  opacity:0.7;
}


#image figure{
  padding:0.75rem;
}
#image img{
  opacity:0.4;
  border-radius:6px;
}

#image img:hover{
  opacity:1;
}

figure{
  margin:0;
  position:relative;
}
figcaption{
  position:absolute;
  top:0;right:0.75rem;
  padding:0.3rem;
  background:#0007;
  width:calc( 100% - 1.5rem);
  white-space:pre-wrap;
  word-break:break-all;
}
figure>img{
  aspect-ratio:1/1;
  object-position:50% 20%;
  object-fit:cover;
}
